FORTYTWO_CLIENT_ID = "u-s4t2ud-43e7c16c0fcc79db8919a326a860ea4d4cd36fb4368763db766ed92bf187ca3b"
FORTYTWO_CLIENT_SECRET = "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"
Redirect_URL = "https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-ded2a173a0467219d402bb8d9f15af529c87aa46ebb0970d73840678673b94d0&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2F&response_type=code"


SUPABASE_URL = "https://xvgtqxxrqodrwudtsmbu.supabase.co"
SUPABASE_ANON_KEY = "sb_publishable_DonfIh0fVVj71J4xvsrZhw_dSx77an2"
SUPABASE_SERVICE_ROLE_KEY = "sb_secret_z8c2JWfYz0hjIcbedJ7lvQ_48Sq8asf"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
JWT_SECRET= "115f4950-a0dc-4423-8338-db43010e3ad7"
sUPABASE_PASSWORD = "42-Reddit@421234"
# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.xvgtqxxrqodrwudtsmbu:42-Reddit@421234@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.xvgtqxxrqodrwudtsmbu:42-Reddit@421234@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
